<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Course</title>
</head>
<body>
  <h1>Add New Course</h1>

  <form action="" method="post">
    
    <label for="couser_code">Course Code: </label>
    <input type="text" name="course_code" id="course_code">

    <label for="couser_title">Course Title: </label>
    <input type="text" name="course_title" id="course_title">
    
    <label for="couser_unit">Course Unit: </label>
    <input type="number" name="course_unit" id="course_unit">
    
    <button type="submit">Add Course</button>

  </form>
  
</body>
</html>