<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Courses</title>
  <style>
    table, th, td {
      border: solid 1px black;
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>All Courses</h1>

  <table>
    <tr>
      <th>Course Code</th>
      <th>Course Title</th>
      <th>Course Unit</th>
    </tr>

 

  <% courses.forEach(course => { %>

    <tr>
      
      <td>
        <a href="/courses/<%= course._id%>">
        <%=course.course_code%>
        </a>
      </td>
      
      <td>
        <%=course.course_title%>
      </td>
      <td>
        <%=course.course_unit%>
      </td>
    </tr>

  <% }) %>
  </table>
</body>
</html>