<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Signup Page</title>
</head>
<body>
  <h1>Student Signup Page</h1>

  <form action="" method="post">
    <label for="first_name">First Name: </label>
    <input type="text" name="first_name" id="first_name">

    <label for="last_name">Last Name: </label>
    <input type="text" name="last_name" id="last_name">
    
    <label for="matric_number">Matric Number: </label>
    <input type="text" name="matric_number" id="matric_number">
    
    <label for="password">Password: </label>
    <input type="password" name="password" id="password">
    
    <button type="submit">Sign up</button>
  </form>
  
</body>
</html>